.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

/* form-wrapは商品購入画面でも使用 */
.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

//user 登録画面

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}

input[type="email"] {
  width: 300px;
  height: 40px;
}

textarea {
  width: 150px;
  height: 10em;
  }


// ActiveHash


.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /商品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

.action {
  
}

